body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.38;
  font-weight: normal;
  color: #ffffff;
  background-color: #849d8f
}
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
}

.main-navigation {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.13;
  color: #ffffff;
}

.logo {
  margin-right: 10px;
}

.main-navigation-links {
  display: flex;
  font-size: 16px;
  line-height: 1.13;
  font-weight: bold;
  color: #ffffff;
}

.main-navigation-links a {
  padding: 14px; 
}

.main-navigation-links a:hover {
  color: rgba(210, 41 , 48, 0.9);
}

.user-navigation {
  display: flex;
  margin-left: auto;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
}

.user-navigation a {
  margin-left: 10px;
  padding: 8px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.2);
}

.popup {
  display: none;
}

.header-contacts {
  float: right;
  margin: 0;
  text-align: right;
}

.header-contacts .time {
  display: block;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold; 
}

.header-contacts .phone {
  display: block;
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
}



.features {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;  
  padding-bottom: 25px;
  font-size: 16px;
  line-height: 1.38;
  font-weight: normal;
  color: #323232; 
  border-radius: 15px;
  background-image: url("../img/waffle.png"); 
  background-size: cover;
}

.features-title {
  margin: 0;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 500;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}

.features-list li {
  width: 50%;
  padding-top: 25px;
}

.features-list p {
  margin: 0;
}

.row {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
}

.blog-article {
  background-image: url("../img/sorbet.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #323232 ;
  margin-right: 25px;
  width: 50%;
  border-radius: 15px;
  
}

.blog-article a {
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
}

.blog-title {
   font-size: 24px;
   line-height: 1.25;
   font-weight: bold;
   text-decoration: underline;
   margin: 0;
   max-width: 280px;
}

.new-in-blog {
  font-size: 16px;
  line-height: 1.38;
  font-weight: 500;
  order: -1;
  margin-bottom: 13px;


}

.mailing {
  font-size: 16px;
  font-weight: 400;
  color: #5a5a5a;
  background-color: #f8f7f4;
  width: 50%;
  border-radius: 15px;
  padding: 35px 20px;
}

.mailing p {
  margin-top: 0;
  margin-bottom: 38px;

}

.mail-form {
  display: flex;
  align-items: center;
}

.input {
  margin-right: 11px;
  color: #999999;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 14px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  flex-grow: 1;
}

.button {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #fefefe;
  background-color:#ee5e3f;
  padding: 10px 19px;
  border: 0;
  border-radius: 50px;
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
}

.main-footer {
  font-size: 13px;
  font-weight: normal;
  color: #ffffff;
}

.main-footer .active {
  font-weight: bold;
}






.main-navigation .active {
  background-color: #d07058;
}


.breadcrumbs {
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
}


.catalog-title {
  font-size: 35px;
  font-weight: bold;
  color: #ffffff;
}


.catalog h3 {
  font-size: 16px;
  font-weight: medium;
  color: #ffffff;
}


.catalog span {
  font-size: 45px;
  font-weight: bold;
  color: #ffffff;
}


.pagination-list {
  font-size: 16px;
  font-weight: medium;
  color: #ffffff;
}


.active-pagination-item {
  font-size: 16px;
  font-weight: medium;
  color: #353535;
  background-color:#ffffff;
}


.slider-title {
  font-size: 60px;
  font-weight: bold;
  color: #ffffff;
}


.slider-button {
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
  background-color: #ec583c;
}


.article-title {
 font-size: 35px;
 font-weight: bold;
 color: #ffffff; 
}


.article-text {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}


.article-link {
   font-size: 18px;
   font-weight: bold;
   color: #ffffff;
   background-color: #e74e37; 
}


 .hits h3 {
   font-size: 16px;
   font-weight: medium;
   color: #ffffff;
 }


 .hits span {
   font-size: 45px;
   font-weight: bold;
   color: #ffffff;
 }


 .info-text {
   font-size: 14px;
   font-weight: normal;
   color: #323232;
 }
 

 .adress,
 .phone-number {
   font-size: 18px;
   font-weight: bold;
   color: #323232;
 }

 .info-link {
   font-size: 18px;
   font-weight: bold;
   color: #ffffff;
   background-color:#ea5239; 
 }
